@use "@src/styles/abstracts/colors" as cls;
@use "@src/styles/abstracts/breakpoints" as bps;
@use "@src/styles/abstracts/mixins" as mxs;

$toolbar-size: 60px;
$bottom-bar-size: 60px;
$workspace-width: 100dvw;
$workspace-height: 100dvh;

#splash {
  position: absolute;
  width: $workspace-width;
  min-width: 350px;
  height: $workspace-height;
  min-height: 300px;
  background-color: cls.$color-primary-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  background: cls.$color-primary-dark;
  overflow: auto;
  z-index: 1;

  .splashContent {
    background-color: cls.$color-primary-dark;
    padding: 2.5rem;
    border-radius: 1.5rem;
    border-style: dotted;
    border-color: cls.$color-secondary;
    max-width: 400px;
    width: 100%;
    text-align: center;

    h1 {
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
      color: cls.$color-light;
    }

    p {
      color: cls.$color-text-dim;
      margin-bottom: 2rem;
    }

    .fileUpload,
    .blankButton {
      transition: all 0.3s;
      cursor: pointer;
      padding: 0.75rem 1.5rem;
    }

    .fileUpload {
      display: block;
      background-color: cls.$color-primary;
      color: cls.$color-light;
      border-radius: 0.75rem;
      margin-bottom: 1rem;
      font-weight: 500;

      input {
        display: none;
      }

      &:hover {
        box-shadow: 0 0 15px cls.$color-primary;
      }
    }

    .blankButton {
      display: inline-block;
      background: none;
      color: cls.$color-text-dim;
      border-color: cls.$color-text-dim;
      border-radius: 0.75rem;
      border-style: solid;
      font-weight: 500;

      &:hover {
        background-color: cls.$color-secondary;
        color: cls.$color-light;
      }
    }
  }
}

#workspace {
  position: absolute;
  width: $workspace-width;
  height: $workspace-height;
  background-color: cls.$color-dark;
  z-index: 0;

  .toolBar,
  .bottomBar,
  .canvasWrapper {
    position: absolute;
    box-sizing: border-box;
  }

  .toolBar,
  .bottomBar {
    display: flex;
    padding: 0.5rem;
    background-color: cls.$color-primary-dark;
  }

  .toolBar {
    gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
  }

  .bottomBar {
    height: $bottom-bar-size;
  }

  // For small screens
  @include mxs.respond-down(bps.$breakpoint-md) {
    .toolBar {
      bottom: 0;
      left: 0;
      right: 0;
      height: $toolbar-size;
      flex-direction: row;
    }

    .bottomBar {
      top: 0;
      left: 0;
      width: $workspace-width;
    }

    .canvasWrapper {
      width: $workspace-width;
      height: calc($workspace-height - $toolbar-size - $bottom-bar-size);
      left: 0;
      top: $bottom-bar-size;
    }
  }

  // For big screens
  @include mxs.respond-up(bps.$breakpoint-md) {
    .toolBar {
      top: 0;
      bottom: 0;
      left: 0;
      width: $toolbar-size;
      height: $workspace-height;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .bottomBar {
      width: calc($workspace-width - $toolbar-size);
      bottom: 0;
      right: 0;
    }

    .canvasWrapper {
      width: calc($workspace-width - $toolbar-size);
      height: calc($workspace-height - $bottom-bar-size);
      left: $toolbar-size;
      top: 0;
    }
  }
}
