$scrollHolderSize: 16px;
$imageInfoWidth: 160px;

.canvasWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  #displayCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    user-select: none;
  }

  #imageInfoContainer {
    width: 100%;
    height: $scrollHolderSize;
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;

    #imageInfo {
      color: #fff;
      font-size: 10px;
      height: $scrollHolderSize;
      width: $imageInfoWidth;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #horizontalScrollHolder {
      height: $scrollHolderSize;
      flex: 1;
      user-select: none;
    }

    #spacer {
      width: $scrollHolderSize;
      height: $scrollHolderSize;
    }

    #imageInfo,
    #spacer {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  #verticalScrollHolder {
    width: $scrollHolderSize;
    height: calc(100% - $scrollHolderSize);
    position: absolute;
    top: 0;
    right: 0;
    user-select: none;
  }
}
